body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.content {
  max-width: 600px;
  padding: 20px;
}

.logo {
  width: 400px;
  margin-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.social-heading {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
}

.socials {
  margin-top: 10px;
}

.socials a {
  margin: 0 20px;
  font-size: 32px;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socials a:hover {
  transform: scale(1.2);
  color: #e0e0e0;
}
